body {
    background-color: black;
}

.fake-id{
    padding-top: 20%;
    display: grid;
    grid-template-columns: 1fr;
}

.fake-id img{
    transform: rotate(90deg);
    /*width: 120%;*/
    width: 140%;
    margin-top: 50%;
    margin-left: -19%;
    grid-row-start: 1;
    grid-column-start: 1;
}

#fake-id-second{
    /*position: absolute;
    width: 922.594px;
    height: 581.031px;
    top: 87.078px;
    left: 166.156px;*/
    animation-name: fade-in-out;
    animation-duration: 2.15s;
    animation-iteration-count: infinite;
}

.exit-button{
    /*width: 12%*/
    width: 15%;
    margin-left: 44%;
    /*margin-top: 33%*/
    margin-top: 36%;
    padding-bottom: 5%;
}

@keyframes fade-in-out{
    0% {opacity: 1.0;}
    50% {opacity: 0.0;}
    100% {opacity: 1.0;}
}